:root {
  --light-green: #4bffa5;
  --dark: #121315;
}

* {
  margin: 0;
  padding: 0;
}

BODY {
  background: var(--dark);
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light-green);
}

.goTop {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background: var(--light-green);
  color: var(--dark);
  display: none;
  align-items: center;
  justify-content: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--dark);
}

.lineLoading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.8px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: loading 1s infinite ease-in-out;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    height: 0;
    top: 0;
    bottom: auto;
  }
  50% {
    height: 100%;
    top: 0;
    bottom: auto;
  }
  51% {
    height: 100%;
    top: 0;
    bottom: auto;
  }
  52% {
    height: 100%;
    top: auto;
    bottom: 0;
  }
  100% {
    height: 0;
    top: auto;
    bottom: 0;
  }
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  clip-path: inset(0);
}

.bgImg {
  z-index: -1;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
}

.typingContainer {
  font-size: 45px;
  text-align: center;
}

#sentence {
  color: #ffffff;
}

.featureTextContainer {
  height: 45px;
}

#featureText {
  font-weight: bold;
  color: var(--light-green);
}

.btn {
  margin-top: 20px;
}

.btn div {
  text-align: center;
}

.btn a {
  display: inline-block;
  margin: 0.4rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--light-green);
  color: var(--light-green);
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.btn a:hover {
  background: var(--light-green);
  color: var(--dark);
  transform: scale(1.1);
}

.inputCursor {
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: white;
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slideDownContainer {
  position: absolute;
  bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideDown {
  color: var(--light-green);
  position: absolute;
  font-size: 28px;
  animation: bounce 1s linear infinite alternate;
}

@keyframes bounce {
  0% {
    bottom: 75px;
  }
  50% {
    bottom: 63px;
  }
  100% {
    bottom: 75px;
  }
}

.middleLine {
  position: fixed;
  height: 100vh;
  background: #fff3;
  width: 1px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

SECTION {
  width: 85%;
  margin: 45px auto;
}

SECTION H2 {
  color: white;
  margin: 10px 0;
}

.divWrap {
  z-index: 1;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.about IMG {
  width: 100px;
  height: 100px;
}

.introduction {
  margin-top: 10px;
}

.name {
  color: var(--light-green);
  font-weight: 900;
}

.introContent {
  color: #fff;
}

#skills i {
  color: #4bffaf;
  font-size: 2rem;
  margin-bottom: 10px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 250px;
  margin: 5px 0;
  background-color: #fff1;
}

.title {
  color: #fff;
}

.content {
  color: #949494;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.language .content,
.tools .content {
  flex-direction: column;
  flex-wrap: nowrap;
}

.content li {
  text-align: center;
  width: 40%;
  list-style-type: none;
  margin: 10px 0;
}

.language .content li,
.tools .content li {
  width: 100%;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  SECTION {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  SECTION {
    width: 60%;
  }
  .introduction {
    width: 60%;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  SECTION {
    width: 70%;
  }
}

@media screen and (min-width: 769px) {
  #about .about {
    flex-direction: row;
    max-width: 95%;
  }
  #skills .divWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .introduction {
    margin: 0 10px;
  }
  .type {
    width: 100%;
    margin: 0;
  }
  .webDevelopment {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 768px) {
  .typingContainer {
    font-size: 35px;
  }
}

@media screen and (max-width: 340px) {
  .typingContainer {
    font-size: 30px;
  }
  .btn a {
    margin: 0.2rem;
    padding: 0.5rem 0.7rem;
  }
}
