HTML {
    scroll-behavior: smooth;
}

BODY {
    background: #121315;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: #121315DD;
}

.lineLoading {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0.8px;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    -webkit-animation: loading 1s infinite ease-in-out;
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    0% {
        height: 0;
        top: 0;
        bottom: auto;
    }
    50% {
        height: 100%;
        top: 0;
        bottom: auto;
    }
    51% {
        height: 100%;
        top: 0;
        bottom: auto;
    }
    52% {
        height: 100%;
        top: auto;
        bottom: 0;
    }
    100% {
        height: 0;
        top: auto;
        bottom: 0;
    }
}

.banner {
    background-image: url('https://yiching-w.github.io/resume/IMAGE/bg.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.typingContainer {
    font-size: 45px;
    text-align: center;
}

#sentence {
    color: #FFFFFF;
}

#featureText {
    font-weight: bold;
    color: #4bffa5;
}

.inputCursor {
    display: inline-block;
    width: 1px;
    height: 40px;
    background-color: white;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    .typingContainer {
        font-size: 35px;
    }
}

@media screen and (max-width:320px) {
    .typingContainer {
        font-size: 30px;
    }
}

.slideDown {
    color: #4bffa5;
    position: absolute;
    font-size: 28px;
    bottom: 66px;
    animation: bounce 1s linear infinite alternate;
    z-index: 100;
}

@keyframes bounce {
    0% {
        bottom: 68px;
    }
    50% {
        bottom: 58px;
    }
    100% {
        bottom: 68px;
    }
}

.introSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 45px;
    border: 1px solid rgba(255, 255, 255, .25);
}

.introSection IMG {
    width: 100px;
    height: 100px;
}